.btn {
  border-width: 2px;
}
img,
.card-wrap,
.card-wrapper,
.mbr-figure iframe,
.google-map iframe,
.slide-content,
.plan,
.card,
.item-wrapper,
.item-wrapper .mbr-overlay {
  border-radius: 2rem !important;
}
body {
  font-family: system-ui, -apple-system, sans-serif;
}
.display-1 {
  font-family: system-ui, -apple-system, sans-serif;
  font-size: 5rem;
  line-height: 1;
}
.display-1 > .mbr-iconfont {
  font-size: 6.25rem;
}
.display-2 {
  font-family: system-ui, -apple-system, sans-serif;
  font-size: 4rem;
  line-height: 1;
}
.display-2 > .mbr-iconfont {
  font-size: 5rem;
}
.display-4 {
  font-family: system-ui, -apple-system, sans-serif;
  font-size: 1.4rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.75rem;
}
.display-5 {
  font-family: system-ui, -apple-system, sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-7 {
  font-family: system-ui, -apple-system, sans-serif;
  font-size: 1.4rem;
  line-height: 1.3;
}
.display-7 > .mbr-iconfont {
  font-size: 1.75rem;
}
@media (max-width: 992px) {
  .display-1 {
    font-size: 4rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.5rem;
    font-size: calc( 2.4rem + (5 - 2.4) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.4rem + (5 - 2.4) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 3.2rem;
    font-size: calc( 2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20))));
  }
}
@media (min-width: 992px) and (max-width: 1400px) {
  .display-1 {
    font-size: 3.5rem;
    font-size: calc( 2.4rem + (5 - 2.4) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.1 * (2.4rem + (5 - 2.4) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-2 {
    font-size: 3.2rem;
    font-size: calc( 2.05rem + (4 - 2.05) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.3 * (2.05rem + (4 - 2.05) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-4 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-7 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 62rem) / (87 - 62))));
  }
}
/* Buttons */
.btn {
  padding: 1.25rem 2rem;
  border-radius: 4px;
}
@media (max-width: 767px) {
  .btn {
    padding: 0.75rem 1.5rem;
  }
}
.btn-primary,
.btn-primary:active {
  background-color: #9fe870 !important;
  border-color: #9fe870 !important;
  color: #264d0c !important;
  box-shadow: none;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: inherit;
  background-color: #bcef9c !important;
  border-color: #bcef9c !important;
  box-shadow: none;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #264d0c !important;
  background-color: #bcef9c !important;
  border-color: #bcef9c !important;
}
.text-white {
  color: #fafafa !important;
}
a,
a:hover {
  color: #9fe870;
}
.scrollToTop_wraper {
  display: none;
}
.mbr-section-btn .btn:not(.btn-form) {
  border-radius: 100px;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%239fe870' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
@media (max-width: 1400px) {
  .container {
    max-width: 100%;
  }
}
@media (max-width: 1400px) and (min-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (max-width: 1400px) and (min-width: 768px) {
  .container-fluid {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (max-width: 767px) {
  .container-fluid {
    padding-left: 16px;
    padding-right: 16px;
  }
}
*:focus-visible {
  outline: red solid 2px !important;
  outline-offset: 2px !important;
  transition: outline 0.2s ease-in-out;
}
.cid-v1qdmsKcwM {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #2e481a;
}
.cid-v1qdmsKcwM .mbr-fallback-image.disabled {
  display: none;
}
.cid-v1qdmsKcwM .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-v1qdmsKcwM .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-v1qdmsKcwM .row {
  flex-direction: row-reverse;
}
.cid-v1qdmsKcwM .row {
  align-items: center;
}
@media (max-width: 991px) {
  .cid-v1qdmsKcwM .image-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-v1qdmsKcwM .text-wrapper {
    padding: 0 2rem;
  }
}
.cid-v1qdmsKcwM .mbr-section-title {
  color: #ffffff;
}
.cid-v1qdmsKcwM .mbr-text,
.cid-v1qdmsKcwM .mbr-section-btn {
  color: #9fe870;
}
.cid-v1qOx48FzX {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #2e481a;
}
.cid-v1qOx48FzX .mbr-fallback-image.disabled {
  display: none;
}
.cid-v1qOx48FzX .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-v1qOx48FzX .copyright {
  color: #ffffff;
  text-align: left;
}
.cid-v1qOx48FzX .center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 991px) {
  .cid-v1qOx48FzX .row {
    flex-direction: column-reverse !important;
  }
  .cid-v1qOx48FzX .row .copyright {
    margin: 1rem 0 0 0;
  }
}
.cid-v1qOx48FzX .row-links {
  width: 100%;
  justify-content: center;
}
.cid-v1qOx48FzX .row-links .row-links-soc {
  list-style: none;
  display: flex;
  justify-content: right;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
@media (max-width: 991px) {
  .cid-v1qOx48FzX .row-links .row-links-soc {
    justify-content: center;
  }
}
.cid-v1qOx48FzX .row-links .row-links-soc li {
  padding: 0 1rem 0rem 1rem;
}
@media (max-width: 767px) {
  .cid-v1qOx48FzX .row-links .row-links-soc li {
    padding: 0 1rem 1rem 1rem;
  }
}
.cid-v1qOx48FzX .row-links .row-links-soc li p {
  margin: 0;
}
@media (max-width: 991px) {
  .cid-v1qOx48FzX .copyright {
    text-align: center;
  }
}
